/* Resolutions
-------------------------------------------------------------------------------- */
@font-face{
  font-family: '';
  src: url('font/VideoJS-Resolutions.eot');
  src: url('font/VideoJS-Resolutions.eot?#iefix') format('embedded-opentype'),
  url('font/VideoJS-Resolutions.woff') format('woff'),
  url('font/VideoJS-Resolutions.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.vjs-default-skin .vjs-resolutions-button {
    width: 5em;
    cursor: pointer !important;
}

/* Resolutions Icon */

.vjs-default-skin .vjs-resolutions-button .vjs-control-content {
    font-family: VideoJS;
    font-size: 1em;
    line-height: 1;
    content: "\e000"; /* Gear icon */
    width: 17px;
    height: 17px;
    margin: 0.5em auto 0;
}
